{
  "postgres_password": "",
  "postgres_table": "postgres",
  "postgres_username": "postgres"
  "token": "",
  "prefix": ""
  "dev": false
  "roles": {},
  "pictures": {
     "classes": [],
     "elements": []
  }
}